* {
	font-family: Helvetica;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 23px;
}

p {
	font-size: 14px;
}

a {
	color: white;
	font-size: 18px;
}

#design h3 {
	text-align: center;
	color:white;
	background-image: url("../images/the-flatiron-building.png");
}

#foot p {
	font-size: 11px;
}

#header {
	text-align: center;
	background-image: url("../images/the-flatiron-building.png");
	background-size: cover;
	color: white;
}

#process {
	text-align: center;
}

#work {
	text-align: center;
}

#team {
	text-align: center;
}

#contact {
	text-align: center;
}

#foot {
	color: white;
	background-color: dimgray;
}