* {
	font-family: Helvetica;
}

h1 {
	font-size: 70px;
}

a {
	color: white;
}

#header {
	text-align: center;
	background-image: url("../images/the-flatiron-building.png");
	background-size: cover;
	color: white;
}